jupyterlab>3.0
numpy==1.26.4
pandas==2.2.2
python-dotenv==1.0.1
requests==2.32.3
yfinance==0.2.44
gymnasium==0.29.1
stable-baselines3==2.3.2
plotly==5.24.1
discord.py==2.4.0
pypdf==4.3.1
langchain
langchain-community
langchain-ollama
langchain-chroma
chromadb
ollama
pydantic
torch
torchvision
torchaudio
polygon-api-client
alpaca-py
scipy
streamlit
fastapi
uvicorn[standard]
